{% extends "story4_app/base.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- External CSS-->
    <link rel="stylesheet" href="{% static 'story1_app/style.css' %}">
    <title>Hadi Belajar PPW</title>

<div class="row height-with-nav">
    <center><h1> Story 1 PPW Hadi</h1>
    <figure>
        <img src="{% static 'story1_app/fotodiri.jpg' %}">
        <figcaption>
            Nama: Taufiq Hadi Pratama <br>
            NPM: 1906350856 <br>
            Angkatan: Maung 2019 <br>
            Mahasiswa di Fasilkom UI
        </figcaption>
        
    </figure> 

    <div class="describe">
        <p>
            Short Description: Seorang pemuda yang senang bermain game. Tampak selalu ceria 
            tetapi dalam hati kadang suram.
            Saya masuk Fasilkom UI karena merasa termotivasi oleh perkembangan teknologi yang sangat pesat. 
            Saya ingin bisa main biola dan piano, tetapi saat ini
            cukup dengan menikmati lagu-lagunya saja.
        </p>
    </div> </center>

    <div class="education-history column">
        <h3>Riwayat Pendidikan</h3>
        <table>
            <tr id="first-row-table">
                <th>Nama sekolah/institusi</th>
                <th>Tahun</th>
            </tr>
            <tr>
                <th>SDN Cikoko 03</th>
                <th>2007-2013</th>
            </tr>
            <tr>
                <th>SMPN 73 jakarta</th>
                <th>2013-2016</th>
            </tr>
            <tr>
                <th>SMAN 8 Jakarta</th>
                <th>2016-2019</th>
            </tr>
            <tr>
                <th>Universitas Indonesia</th>
                <th>2019-sekarang</th>
            </tr>
        </table>
    </div>
    
    <div class="social-media column">
        <h3>Kunjungi media sosial saya untuk tahu tentang saya lebih lanjut!</h3>
        <a href="https://www.facebook.com/taufiqhadi.pratama/">
            <img src="https://image.flaticon.com/icons/png/512/61/61045.png" class="sosmed">
        </a>
        <a href="https://www.instagram.com/_hadipratama768/">
            <img src="https://image.flaticon.com/icons/png/512/87/87390.png" class="sosmed">
        </a>
        <a href="https://www.linkedin.com/in/taufiq-hadi-pratama-21b3b4192/">
            <img src="https://image.flaticon.com/icons/png/512/61/61109.png" class="sosmed">
        </a>
        <a href="https://line.me/ti/p/r3BU2vFGwr">
            <img src="https://www.freepnglogos.com/uploads/line-logo-png-7.png" class="sosmed">
        </a>
    </div>

    <br>

    <div class="bonus">
    <h3>Bonus!!!!</h3>
        Arknights: Trigonometri#2978 <br>
        Honkai Impact 3 ID: 11445869
    </div>
</div>
{% endblock %}