h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: black;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
}

.describe {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.education-history {
    overflow-x:auto; 
    align-content: center;
}

.education-history h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding:10px;
}

tr:hover {
    background-color:gray;
}

#first-row-table {
    background-color:rgb(92, 177, 148);
}

.social-media {
    width: 220px;
    height: 190px;
    margin:0 auto;
    text-align: center;
    align-content: center;
}

.sosmed {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-right: 5px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.bonus {
    text-align: center;
}