{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
            crossorigin="anonymous">

        <!-- External CSS-->
        <link rel="stylesheet" href="{% static 'story4_app/css/style.css' %}">

        <!-- Needed font-->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <title>Story4 Hadi</title>
    </head>
    <body>
        {% if type == "index" %}
        <nav class="navbar navbar-expand-lg navbar-light bg-navbar sticky-top">
            <img src="{% static 'story4_app/photos/icon.svg' %}" class="navbar-image">
            <a class="navbar-brand" href="#">PPW From Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">I am... <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#activities">Activities</a>
                <a class="nav-link" href="#contact">Find me at</a>
                <a class="nav-link" href="{% url 'story4_app:random' %}">Random</a>
                <a class="nav-link" href="{% url 'story1_app:index' %}">Story 1</a>
            </div>
            </div>
        </nav>
        {% elif type == "random" %}
        <nav class="navbar navbar-expand-lg navbar-light bg-navbar sticky-top">
            <img src="{% static 'story4_app/photos/icon.svg' %}" class="navbar-image">
            <a class="navbar-brand" href="#">PPW From Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="{% url 'story4_app:index' %}">I am... <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="{% url 'story4_app:index' %}#activities">Activities</a>
                <a class="nav-link" href="{% url 'story4_app:index' %}#contact">Find me at</a>
                <a class="nav-link" href="#">Random</a>
                <a class="nav-link" href="{% url 'story1_app:index' %}">Story 1</a>
            </div>
            </div>
        </nav>
        {% elif type == "story1_app" %}
        <nav class="navbar navbar-expand-lg navbar-light bg-navbar sticky-top">
            <img src="{% static 'story4_app/photos/icon.svg' %}" class="navbar-image">
            <a class="navbar-brand" href="#">PPW From Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="{% url 'story4_app:index' %}">I am... <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="{% url 'story4_app:index' %}#activities">Activities</a>
                <a class="nav-link" href="{% url 'story4_app:index' %}#contact">Find me at</a>
                <a class="nav-link" href="{% url 'story4_app:random' %}">Random</a>
                <a class="nav-link" href="#">Story 1</a>
            </div>
            </div>
        </nav>
        {% endif %}

        {% block content %}
        {% endblock %}


        <footer class="bg-navbar">
            <div class="text-center">Made with sincere by Taufiq Hadi Pratama, 2020</div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>