{% extends "story4_app/base.html" %}
{% block content %}
{% load static %}
    <div class="container-fluid background" id="about">
    <div class="row height-with-nav">
        <div class="col-lg-6 col-sm-23 h-lg-100 d-flex align-items-center justify-content-center">
            <figure>
            <img src="{% static 'story4_app/photos/fotodiri.jpg' %}" class="img-fluid" alt="Responsive image">
            <center><figcaption >Foto saat <i>Social Project</i> PMB Fasilkom UI 2019</figcaption></center>
            </figure>
        </div>
        <div class="col-lg-6 col-sm-23 h-lg-100 p-3 d-flex flex-column align-items-center justify-content-center">
            <h2>Taufiq Hadi Pratama</h2>
            <h2>Fasilkom UI Angkatan 2019</h2>
            <h4>Seorang pemuda yang senang bermain game. Tampak selalu ceria tetapi dalam hati kadang suram.
                Saya ingin bisa main biola dan piano, tetapi saat ini
                cukup dengan menikmati lagu-lagunya saja.</h4>
        </div>
    </div>
    </div>

    <div class="container-fluid bg-activities" id="activities">
        <span class="custom-br bg-activities"></span>
        <h2 class="text-light pt-5">Activities</h2>
        <div class="row height-with-nav-activities">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                        <div class="col d-flex align-items-center justify-content-center p-3 m-4 bg-activities-content flex-column border">
                            <h4>Riwayat Pendidikan</h4>
                            <hr>
                            <ol id="education" type="1">
                                <li>SDN Cikoko 03, 2007-2013</li>
                                <li>SMPN 73 Jakarta, 2013-2016</li>
                                <li>SMAN 8 Jakarta, 2016-2019</li>
                                <li>Universitas Indonesia, 2019-sekarang</li>
                            </ol>
                        </div>
                        <div class="col d-flex align-items-center justify-content-center p-3 m-4 bg-activities-content flex-column border">
                            <h4>Organisasi dan Kepanitiaan</h4>
                            <hr>
                            <ol id="organization" type="1">
                                <li>Tim BFC Kemasyarakatan, 2017-2018</li>
                                <li>Pesta Rakyat Komputer, 2020</li>
                                <li>Staf Departemen Sosial Masyarakat FUKI Fasilkom UI, 2020-sekarang</li>
                            </ol>
                        </div>
                </div>
            </div>
            <div class="container bg-activities-content border align-items-center justify-content-center mt-4">
                    <h4 class="text-center mt-4 mb-1">Skills</h4>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 d-flex align-items-center p-0 m-0 bg-activities-content">
                    <div class="col">
                        <div class="card bg-activities-content border justify-content-center align-items-center mb-4">
                            <img src="{% static 'story4_app/photos/python.svg' %}" class="card-img-top p-2" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Python</h5>
                            <p class="card-text"> Materi kuliah semester 1. Saat ini belajar otodidak.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-activities-content border justify-content-center align-items-center mb-4">
                        <img src="{% static 'story4_app/photos/java.svg' %}" class="card-img-top p-2" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Java</h5>
                            <p class="card-text"> Materi kuliah semester 2. Saat ini belajar otodidak.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-activities-content border justify-content-center align-items-center mb-4">
                        <img src="{% static 'story4_app/photos/germany.png' %}" class="card-img-top-flag p-2" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Bahasa jerman</h5>
                            <p class="card-text">Materi saat SMA. Saat ini belajar otodidak.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-activities-content border justify-content-center align-items-center mb-4">
                        <img src="{% static 'story4_app/photos/time.svg' %}" class="card-img-top-time p-2" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">Manajemen waktu</h5>
                            <p class="card-text">Pengalaman dari organisasi, kepanitiaan, dan seminar.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="custom-br bg-activities"></span>

    <div class="container-fluid background">
        <div id="contact"></div>
        <div class="row height-with-nav">
            <div class="col-lg-6 col-sm-23 h-lg-100 d-flex align-items-center justify-content-center">
                <h1 class="text-center">
                    Want to talk more with me?
                    Kindly contact me
                </h1>
            </div>
            <div class="col-lg-6 col-sm-23 h-lg-100 p-3 d-flex flex-column align-items-center justify-content-center">
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1">
                        <div class="col mb-5">
                            <a href="https://www.linkedin.com/in/taufiq-hadi-pratama-21b3b4192/" class="text-dark contact-text">
                                <img src="{% static 'story4_app/photos/linkedin.png' %}" class="img-contact">
                                Klik tulisan ini untuk melihat LinkedIn saya
                            </a>
                        </div>
                        <div class="col mb-5">
                            <a href="https://line.me/ti/p/r3BU2vFGwr" class="text-dark contact-text">
                                <img src="{% static 'story4_app/photos/line.svg' %}" class="img-contact">
                                Klik tulisan ini untuk melihat LINE saya
                            </a>
                        </div>
                        <div class="col mb-5">
                            <figure>
                                <img src="{% static 'story4_app/photos/email.svg' %}" class="img-contact email">
                                <figcaption class="email contact-text">taufiqhadipratama@gmail.com</figcaption>
                            </figure>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}