{% extends "story4_app/base.html" %}
{% block content %}
{% load static %}

    <div class="background container-fluid text-center">
        <span class="custom-br-random background"></span>
        <h3 class="text-center m-auto">Games that I like recently</h3>
        <span class="custom-br-random background"></span>
        <div class="row height-with-nav">
            <div class="col">
                <div class="col m=auto align-items-center justify-content-center text-center">
                    <h4>Genshin Impact</h4>
                    <h5>UID: 800556687 </h5>
                    <div class="row m-auto d-flex align-items-center justify-content-center">
                        <div class="col-lg-6 col-sm-23 h-lg-100 align-items-center justify-content-center d-flex flex-column pl-5">
                            <img src="{% static 'story4_app/photos/genshin.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col-lg-6 col-sm-23 h-lg-100 d-flex flex-column p-5">
                            <h5>
                                Sebuah <i>open world</i> RPG yang membuat saya terpukau karena grafik
                                yang wow. Gamenya baru rilis 28 September lalu, masih baru sekali. Namun,
                                antusiasme para penyuka genre game ini sangat terlihat dari
                                <i>open beta test</i> yang sudah lalu. Saya sangat merekomendasikan
                                untuk orang-orang yang suka genre sejenis ini
                            </h5>
                        </div>
                    </div>
                </div>
                <span class="custom-br-random background"></span>
                <div class="col m=auto align-items-center justify-content-center text-center">
                    <h4>Honkai Impact 3</h4>
                    <h5>ID: 11445869</h5>
                    <div class="row row-cols-sm-2 m-auto d-flex align-items-center justify-content-center">
                        <div class="col-lg-6 col-sm-23 h-lg-100 d-flex flex-column align-items-center justify-content-center pl-5">
                            <img src="{% static 'story4_app/photos/honkai.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col-lg-6 col-sm-23 h-lg-100 d-flex flex-column p-5">
                            <h5>
                                Rekomendasi dari temen SMA dulu, sampai sekarang masih gabosen mainnya.
                                Action RPG terbaik lah menurut saya. Dari dulu sampai sekarang targetnya
                                tetep sama, yaitu mengoleksi semua stigma dan weapon gacha.
                            </h5>
                        </div>
                    </div>
                </div>
                <span class="custom-br-random background"></span>
                <div class="col m=auto align-items-center justify-content-center text-center">
                    <h4>Arknights</h4>
                    <h5>Name: Trigonometri#2978</h5>
                    <div class="row row-cols-sm-2 m-auto d-flex align-items-center justify-content-center">
                        <div class="col-lg-6 col-sm-23 h-lg-100 d-flex flex-column align-items-center justify-content-center pl-5">
                            <img src="{% static 'story4_app/photos/arknights.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col-lg-6 col-sm-23 h-lg-100 d-flex flex-column p-5">
                            <h5>
                                Awalnya gatau sama sekali dan gaminat terhadap game <i>tower defense</i>.
                                Namun, setelah nyoba, jadi ketagihan sendiri. Awalnya dikenalin dari
                                temen kuliah, namun setelah melihat level-level yang ditawarkan makin
                                sulit dan <i>event</i> yang semakin seru, jadilah ketagihan dengan game ini
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="custom-br-random background"></span>
{% endblock %}